@font-face {
    font-family: Helvetica-bd;
    src: url(fonts/HelveticaNeueLTPro-Bd.otf);
}

@font-face {
    font-family: Helvetica-dash;
    src: url(fonts/HelveticaNeueLTPro-BdCn.otf);
}

@font-face {
    font-family: Helvetica;
    src: url(fonts/HelveticaNeueLTPro-Lt.otf);
}

.navbar-collapse {
    padding-left: 0px;
}

body {
    font-size: 14px !important;
    font-family: "Helvetica", Helvetica, Arial, sans-serif;

    margin: 10px;
    border-radius: 5px;
    min-height: 630px;
    color: #333333;
    letter-spacing: 1.1px;
}

canvas {
    color: #333333;
}

.surveyor-row {
    padding: 10px;
    font-size: 13px;
}

.surveyor-row:hover {
    background: #CCCCCC;
}

.table .editable {
    border-bottom: none;
    color: #333333;
}

.editable-buttons i {
    color: #fff;
    margin-left: 0px;
}

.dash-top .col-sm-2 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.editable-buttons i:hover {
    color: #ccc;
    margin-left: 0px;
}

.surveyor-row-head {
    font-size: 13px;
    padding: 10px;
    font-weight: bold;
}

.dropdown{
    margin-left:-9px;
}

.num {
    background: #333333;
    border-radius: 17px;
    color: #fff;
    padding: 5px
}

.editable-empty {
    opacity: 0.3;
}

.custom-modal-dialog {
    margin: 40px auto;
    width: 900px;
}

.edit-surveyor button {
    padding: 3px !important;
}

.icon-ok {

    color: #fff;
    font-size: 15px;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: #333333scale;
}

.icon-ok:before {
    content: "\e013";
}

.icon-remove {

    color: #fff;
    font-size: 15px;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: #333333scale;
}

.icon-remove:before {
    content: "\e014";
}

.dash-top {
    margin: 100px 0px 40px 0px;
    min-height: 100px;
    text-align: center;
    background: #f7db7a;

}

.dash-top .col-sm-3 {
    padding-right: 0px;
}

.dashboard {
    font-family: Helvetica-dash;
    font-size: 35px !important;
    font-weight: bold;
    color: #eeb626;
    text-transform: uppercase;
}

.dash-title {
    font-size: 21px;
    font-family: Century Gothic;
}

.dash-filter {
    margin-top: -7px;
}

.top-number {

    border-radius: 5px 5px;
    height: 100px;
    border-right: 1px solid #fff;
    color: #58595b;
    /* text-align: center; */

}

.top-number p {
    font-size: 13px;
    padding: 5px !important;
}

.top-number span {
    line-height: 60px;
    font-size: 40px;
    font-weight: bold;
}

ul.ui-autocomplete.ui-menu {
    z-index: 100000;
    width: 192px !important;
    border: 1px solid #ccc;
    overflow-x: hidden;
}

.clear {
    clear: both;
}

.mce-tinymce {
    margin-top: 35px !important;
}

.row input[type="checkbox"], .row input[type="radio"] {
    height: 25px !important;
}

div.glyphicon {
    margin-left: 0px;
    padding: 4px;
}

.datatable .glyphicon {
    color: #333;
}

.datatable .glyphicon:hover {
    color: #0F4C8F;
}

.glyphicon-edit {
    color: #333333 !important;
}

.glyphicon-trash {
    color: #333333 !important;
}

.dataTables_select {
    position: absolute;
    margin-left: 70px;

}

.add_new_button {
    position: absolute;
    margin-left: 70px;
    padding: 4px;
}

.ui-widget-content {
    border: none !important;
}

.file-position {
    min-width: 235px;
}

.container-fluid {
    padding-left: 5px !important;
}

.container h1 {
    margin: 30px 0px 20px 0px;
    font-family: Helvetica-dash;
    text-transform: uppercase;
}

.dash-report input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #333333;
}

.dash-report input[type="submit"] {
    padding: 3px 10px !important;
    letter-spacing: 1px;
}

.select-report button {
    padding: 2px 10px !important;
    letter-spacing: 1px;
}

.select-report {
    position: absolute;
    margin-left: 70px;
    margin-top: 1px;
}

.select-report input {
    height: 27px;
    padding: 5px;
}

.dash-title {
    color: #333 !important;
}

.manager-dash {
    margin-top: 50px;
}

#new_customer_tab_wrapper {

    padding-bottom: 16px;
}

.manager-dash span {
    white-space: normal;
    font-size: 0.9em;
}

.manager-dash li {
    display: inline-block !important;
    padding: 25px 30px;
    width: 250px;
    height: 200px;
    font-size: 20px;
    color: #f4eaea;
    margin-left: 50px;
    background: #333333;
    cursor: pointer;
}

.ui-autocomplete {
    z-index: 5000;
}

.mar-20 {
    margin-top: 20px;
}

#taskDatatable_wrapper caption, #indicatorDatatable_wrapper caption {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-top: -25px;
}

.manager-dash center {
    width: 180px;
}

.manager-dash li p {
    font-size: 80px;
    color: #fff;
    vertical-align: middle;
}

input[type=search] {
    padding: 4px;
    border: none;
    border: 1px solid;
}

#approve_table label {

    text-align: left;
    float: left;
    width: 40%;
    margin-bottom: 20px;
}

#approve_table .col-sm-3 {
    padding-left: 0px !important;
}

#approve_table input {
    width: 60% !important;
    margin-bottom: 20px;
    height: 30px;
}

#approve_table select {
    width: 60% !important;
    margin-bottom: 20px;
    height: 30px;
}

#approve_table input[type=checkbox] {
    width: 60% !important;
    border: none;
    height: 30px;
}

#approve_table select, #approve_table textarea {
    width: 60% !important;

}

.manager-dash li:hover {
    color: #0F4C8F;
}

.manager-dash li:hover p {
    color: #0F4C8F;
}

th {
    text-align: center;
}

form td {
    vertical-align: middle !important;
}

#vehicle_no {
    display: none;
}

ul.products li {
    display: inline-block;
    margin: -10px;

}

.nav .glyphicon {
    margin-left: 0px;
}

.datetime {
    padding: 5px 15px;
    color: #333;
    font-size: 15px;
}

ul li {
    display: block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}

header .glyphicon {
    font-size: 20px !important;
}

#email_table label {
    float: left;
    margin-top: 8px;
}

#claim_note_preparation_submit {
    float: left;
    margin-top: 20px;
}

td .glyphicon {
    color: #000 !important;
}

td .glyphicon:hover {
    color: #333333 !important;
}

.glyphicon {

    color: #333333;
    font-size: 15px;
    margin-left: 15px;
}

.alert p {
    padding: 5px;
}

.glyphicon-warning-sign {
    color: red;
}

.alert .glyphicon {
    margin-right: 5px;
}

.mar20 {
    margin-top: 20px !important;
}

.glyphicon:hover {
    color: #0F4C8F;
}

.navbar-nav li {
    /*margin-left: -5px;*/
    /*padding-top:10px;*/
}

.navbar-header {
    padding: 5px;
}

.insure-detail h5 {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}

nav {
    font-size: 16px !important;
}

ul a {
    color: black;
}

ul a:hover {
    text-decoration: none;
}

li a {
    color: #333;
}

#table {
    width: 50%;
}

.form-control {
    height: 40px;
}

h2, h4 {
    margin-top: 10px;
    margin-bottom: 1px;
}

table label {
    float: left;
    font-weight: normal;
    font-size: 14px;
}

span.glyphicon {
    padding: 5px 5px;
    margin-left: auto !important;
}

.glyphicon-forward {
    margin-top: 1px;
}

.table .btn {
    padding: 5px 15px;
}

.btn-default {
    -moz-box-shadow: 0px 10px 14px -7px #ee8026;
    -webkit-box-shadow: 0px 10px 14px -7px #ee8026;
    box-shadow: 0px 10px 14px -7px #ee8026;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c33336), color-stop(1, #ff8324));
    background: -moz-linear-gradient(top, #c33336 5%, #ff8324 100%);
    background: -webkit-linear-gradient(top, #c33336 5%, #ff8324 100%);
    background: -o-linear-gradient(top, #c33336 5%, #ff8324 100%);
    background: -ms-linear-gradient(top, #c33336 5%, #ff8324 100%);
    background: linear-gradient(to bottom, #c33336 5%, #ff8324 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c33336', endColorstr='#ff8324', GradientType=0);
    background-color: #c33336;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.btn-default:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff8324), color-stop(1, #c33336));
    background: -moz-linear-gradient(top, #ff8324 5%, #c33336 100%);
    background: -webkit-linear-gradient(top, #ff8324 5%, #c33336 100%);
    background: -o-linear-gradient(top, #ff8324 5%, #c33336 100%);
    background: -ms-linear-gradient(top, #ff8324 5%, #c33336 100%);
    background: linear-gradient(to bottom, #ff8324 5%, #c33336 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8324', endColorstr='#c33336', GradientType=0);
    color: #f5f5f5;
}

.btn-default:active {
    position: relative;
    top: 1px;
}

.form-signin .form-control {
    font-size: 16px;
    height: auto;
    padding: 10px 10px 10px 30px;
    margin-bottom: 35px;
    border: 1px solid #9fa4aa;
    border-radius: 0;
    color: #000000;
}

#login {
    width: 500px;
    padding: 5px;
    /*border: 1px solid;
    border-color: #e7e7e7;
    border-radius: 5px;
    margin-top: 150px;*/
    margin-left: 100px;
}

#register-alert {
    /*width: 200px;*/
    padding: 8px;
    margin-bottom: 10px;
}

#login-alert {
    padding: 10px;
}

#img-logo {
    width: 80px;
    height: 82px;
    float: left;
    margin-left: 10px;
    margin-top: 1px;
}

header {
    min-height: 85px;;
}

.btn-primary {
    background: #3056E9 !important;
    border-color: #3056E9 !important;
}

#welcome_head {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    margin: 5px 0px 0px 5px;
    padding-left: 100px;
}

.main-head {
    margin-top: 15px;
    font-family: Helvetica-bd;
}

.navbar-inverse {
    background-color: #0F4C8F;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;;
}

#footer h4 {
    margin-right: 40px;
}

.footer-line {
    display: block;
    width: 100%;
    color: #0F4C8F;
    border: 2px solid;
    margin-top: 40px;
}

.navbar {
    margin-bottom: 0px;
    min-height: 30px;
    border-radius: 0px;
}

.products li a:hover {
    color: #0F4C8F;
    font-size: 20px;
}

.products span p {
    float: right;
    font-size: 14px;
    min-width: 33px;
    line-height: 33px;
    /* margin: 10px; */
    /* vertical-align: middle; */
    min-height: 33px;
    background-color: #fff;
    border-radius: 25px;
    text-align: center;
}

.products a img {
    height: 200px;
    width: 200px;
}

#table button {
    margin-top: 5px;
}

#new_animal {
    padding: 3px !important;
}

#new_firm {
    padding: 3px !important;
}

#new_animal_type {
    padding: 3px !important;
}

.badge {
    margin-left: 5px;
}

.products li a {
    display: block;
    height: 200px;
    width: 200px;
    background-size: 100%;
}

.products .add_user {

    background-image: url(../images/user.png);

    position: relative;
}

.products .add_indicator {

    background-image: url(../images/Indicator.png);

    position: relative;
}

.products .add_project {

    background-image: url(../images/Project.png);

    position: relative;
}

.products .add_task {

    background-image: url(../images/Task.png);

    position: relative;
}
.products .dashboard {

    background-image: url(../images/dashboard-hover.png);

    position: relative;
}

.products .add_report {

    background-image: url(../images/Report.png);

    position: relative;
}

.products .add_update {

    background-image: url(../images/update.png);

    position: relative;
}

.products .add_user:hover, .products .add_indicator:hover, .products .add_task:hover, .products .add_project:hover, .products .add_report:hover {
    opacity: 0.8;
}

.products .permission {
    display: block;
    height: 200px;
    width: 200px;
    background-size: 100%;
    background-image: url(../images/permission.jpg);
    position: relative;
}

.products .permission:hover {
    background-image: url(../images/permission-hover.jpg);
}

.products .search {
    display: block;
    height: 200px;
    width: 200px;
    background-size: 100%;
    background-image: url(../images/search.jpg);
    position: relative;
}

.products .search:hover {
    background-image: url(../images/search-hover.jpg);
}

.products .department {
    display: block;
    height: 200px;
    width: 200px;
    background-size: 100%;
    background-image: url(../images/department.jpg);
    position: relative;
}

.products .department:hover {
    background-image: url(../images/department-hover.jpg);
}

.verification {
    display: block;
    height: 200px;
    width: 200px;
    background-size: 100%;
    background-image: url(../images/verification.jpg);
    position: relative;
}

.verification:hover {
    background-image: url(../images/verification-hover.jpg);
}

.evaluation {
    display: block;
    height: 200px;
    width: 200px;
    background-size: 100%;
    background-image: url(../images/evaluation.jpg);
    position: relative;
}

.evaluation:hover {
    background-image: url(../images/evaluation-hover.jpg);
}

.legal {
    display: block;
    height: 200px;
    width: 200px;
    background-size: 100%;
    background-image: url(../images/legal.jpg);
    position: relative;
}

.legal:hover {
    background-image: url(../images/legal-hover.jpg);
}

.store {
    display: block;
    height: 200px;
    width: 200px;
    background-size: 100%;
    background-image: url(../images/store.jpg);
    position: relative;
}

.store:hover {
    background-image: url(../images/store-hover.jpg);
}

.discharge_voucher {
    display: block;
    height: 200px;
    width: 200px;
    background-size: 100%;
    background-image: url(../images/discharge_voucher.jpg);
    position: relative;
}

.discharge_voucher:hover {
    background-image: url(../images/discharge_voucher-hover.jpg);
}

.approve {
    display: block;
    height: 200px;
    width: 200px;
    background-size: 100%;
    background-image: url(../images/approve.jpg);
    position: relative;
}

.approve:hover {
    background-image: url(../images/approve-hover.jpg);
}

.surveyor_deportation {
    display: block;
    height: 200px;
    width: 200px;
    background-size: 100%;
    background-image: url(../images/surveyor_deportation.jpg);
    position: relative;
}

.surveyor_deportation:hover {
    background-image: url(../images/surveyor_deportation-hover.jpg);
}

.form-inline .form-control {
    height: 35px;
}

.form-inline .row {
    margin-left: 0px;
}

form.form-inline textarea {
    width: 83% !important;
}

div.new_surveyor {
    display: none;
}

.mar-top-20 {
    margin-top: 20px;
}

.claim_note {
    display: block;
    height: 200px;
    width: 200px;
    background-size: 100%;
    background-image: url(../images/claim_note.jpg);
    position: relative;
}

.claim_note:hover {
    background-image: url(../images/claim_note-hover.jpg);
}

.accounts {
    display: block;
    height: 200px;
    width: 200px;
    background-size: 100%;
    background-image: url(../images/accounts.jpg);
    position: relative;
}

.accounts:hover {
    background-image: url(../images/accounts-hover.jpg);
}

.products li img:hover {
    height: 220px;
    width: 220px;
    z-index: 100;
    background: #000;
}

#nav a:hover {
    color: #fff;
}

.navbar-btn {
    margin-bottom: 1px;
    margin-top: 1px;
    padding: 2px;
}

#delete-text {
    margin-bottom: 10px;
    margin-right: 10px;
}

#yes_no {
    float: right;
    padding: 10px;
}

.row .glyphicon {
    color: #fff;
}

.notifyModal .notifyModal_content {
    width: 300px;
    padding: 5px;
    background: none repeat scroll 0 0 #e7e7e7;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: transparent;
    font-size: 14px;
}

.navbar-collapse {
    float: left;
    background-color: #0F4C8F;;
}

li.dropdown:hover ul {
    transition: All 8s ease;
    -webkit-transition: All 8s ease;
    -moz-transition: All 8s ease;
    -o-transition: All 1s ease;
}

.dropdown-menu {

    min-width: 100%;
    white-space: normal;
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #000000;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
}

.navbar-inverse {
    border-color: transparent;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
}

.dropdown-menu > li > a {
    color: #333333 !important;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li > a {
    border-radius: 0;
}

.navbar-nav > li {

    -webkit-transition: all 0.8s ease-in-out;
}

.navbar-nav > li > a {
    /*padding-top: 5px;
    padding-bottom: 5px;
    line-height: 18px;*/
    color: #2395D2;
}

.navbar-brand {
    height: 30px;
    font-size: 18px;
    padding-top: 5px;
    padding: 3px;
}

.navbar-brand i {
    color: #fff;
    font-size: 20px;

}

.navbar-brand:hover i {
    color: #333;
}

#table_message {
    width: 800px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color: #fff;
}

.navbar-nav .open .dropdown-menu {
    background-color: #fff;
}

.divider-vertical {
    height: 50px;

    /*border-left: 1px solid #F2F2F2;
    border-right: 1px solid #FFF;*/
}

.nav li:hover {
    background: #000;
}

.option_group {
    font-weight: bold;
    font-style: italic;
}

.option_child {
    padding-left: 15px;
}

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    /*width: 230px !important;*/
}

.container {
    position: relative;
    min-height: 460px;
    width: 100%;
    white-space: nowrap;
}

#footer h5 {
    margin: 0px 0px;
}

.error_msg p {
    color: red;
}

#lims-logo {
    width: 200px;
    height: 60px;
    float: right;
}

h2, .h2 {
    color: #18A197;
}

h1, .h1 {
    color:#333333;
    font-size: 25px !important;
}

h4, .h4 {
    color: #333333;
}

h3, .h3 {
    color: #333333;
}

h6, .h6 {
    color: #333333;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none;
}

#navigation {
    margin-top: 5px;

    font-size: 14px;
}

#welcome {
    float: right;
    color: #fff;
    margin: 5px;
}

.ui-widget-content {
    padding: 5px;
    /*text-align: center;*/
    overflow-x: auto;
}

#new_customer_tab {
    /*width: 52%;*/
}

.alert {
    margin: 10px;
    padding: 10px;
}

#footer {
    float: right;
    /*margin-top: 300px;*/
}

.dropdown:hover .dropdown-menu {
    display: block;

}

.navbar-inverse .navbar-nav .dropdown:hover .dropdown-menu {
    background-color: #fff;
}

.navbar-nav .dropdown:hover .dropdown-menu {
    background-color: #e7e7e7;
}

.dropdown-menu > li > a {
    background-color: #fff;
}

#serology_date {
    float: right;
    padding-right: 5px;
}

#department_table {
    /*width: 500px;*/
    text-align: left;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    /*background-color: #dceef8;*/
}

.dropdown-menu { 

    background-color: #fff;
}

ul.dropdown-menu {
    border-radius: 4px !important;
}

li a {
    color: #000;
}

#role_table {
    /*width: 500px;*/
}

.navbar-inverse .navbar-brand {
    color: #e7e7e7;
}

.breadcrumb {
    color: #333 !important;
    background-color: transparent;
    font-size: 16px;
}

.breadcrumb > li + li:before {
    display: none;
}

.breadcrumb > .active {

    color: #0F4C8F;
    padding: 5px;
    border-radius: 5px;
}

.breadcrumb {
    color: #333;
}

.breadcrumb > li > a {
    color: #333;
}

#img-icon {
    display: inline;
}

#breadcumb-text {
    display: -webkit-box;
    padding-top: 50px;
}

hr {
    border-top: 2px solid #ddd;
    margin-top: 0px;
}

.vertical-divider {
    height: 12px;
    border-left: 1px solid #2395d2;
    border-right: 1px solid #2395d2;
}

.table > thead {
    background-color: #006A9E;
    color: #fff;
    text-align: center;
}

#table_show_all {
    width: 700px;
}

#table_show_all_investigation {
    width: 900px;
}

#table_show_all_user > thead > tr > td > ul > li > a {
    color: #fff;
}

#table_show_all_customer > thead > tr > td > ul > li > a {
    color: #fff;
}

#navbar-right {
    float: right;
    display: block;
}

#role-alert {

    padding: 10px;
    margin-bottom: 5px;
}

.footer {
    margin-top: 20%;
}

#print_btn {
    float: right;
}

#print_title {
    font-size: 20px;
    font-weight: bold;
    color: #2395d2;
    padding-left: 100px;
}

.clear {
    clear: both;
}

#welcome_system {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-top: 30px;
    padding-left: 100px;
}

.products {
    /*margin-top: 50px;*/
    /*margin:50px auto;*/
}

.products-admin {
    margin-top: 65px;
}

.dash-updates {
    border-left: 1px solid #006A9E;
    border-right: 1px solid #006A9E;
    min-height: 500px;
    margin-top: 65px;
    padding: 0px 10px 10px 10px;
}

#login_button {
    float: right;
}

#published_virology_details {
    text-align: left;
}

#published_serology_details {
    text-align: left;
}

#published_biology_details {
    text-align: left;
}

#role_dropdown > li {
    display: block;
}

#investigation_requested_td {
    height: auto;
    width: auto;
    overflow-y: auto;
    max-height: 150px !important;
}

.msg {
    margin-top: 5px;
    color: #d51010;
    font-style: italic;
}

#customer_alert {
    float: right;
    padding: 2px;
}

#firm_alert {
    float: right;
    padding: 2px;
}

#animal_type_alert {
    float: right;
    padding: 2px;
}

#animal_alert {
    float: right;
    padding: 2px;
}

#sample_alert {
    float: right;
    padding: 2px;
}

select {
    padding: 5px;
}

.message_tr {
    background-color: #A1C4D6;
}

/*On Off switch*/
.onoffswitch {
    position: relative;
    width: 68px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 0px;
    width: 40px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 16px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}

.onoffswitch-inner:before {
    content: "Yes";
    padding-left: 4px;
    background-color: #0F4C8F;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "No";
    padding-right: 4px;
    background-color: #CCCCCC;
    color: #333333;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 25px;
    margin: 0px;
    /*background: #000000;*/
    position: absolute;
    top: 0;
    bottom: 0;
    right: 43px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

#claim_note_checklist div {
    margin-top: 15px;
}

#claim_note_checklist h4 {
    margin-bottom: 15px;
}

.table-small .dataTables_wrapper {
    width: 50%;
}

.table-small #table {
    width: 50%;
}

.dataTables_filter input[type="search"] {
    border: 1px solid #ddd !important;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: darkgoldenrod;
}

.ms-drop ul > li label {
    float: none;

}

.ms-drop ul > li input {
    margin-right: 10px;
}

.ms-choice {
    padding: 6px 12px !important;
    color: #333 !important;
    height: 40px !important;
    line-height: 45px !important;
}

.mar-40-left {
    margin-left: 50px;
}

#task_table {
    width: 55%;
}

#assigned_indicators {
    top: 100px;
}

#assigned_users, #assigned_indicators {
    position: absolute;
    display: block;
    width: 47%;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;

}

#assigned_users table {
    width: 100%;

}

#assigned_users td, #assigned_indicators td {
    padding: 2px;
    width: 100%;
}

#assigned_users .alert-warning, #assigned_indicators .alert-warning {
    color: #333 !important;
}

tr.user_title, tr.indicator_title, tr.indicator_total, tr.hour_total {
    display: none;
    background: #EBF8A4;
}

#task_registration_form {
    margin-bottom: 50px;
}

.updates-time {
    color: #002166;
    font-size: 13px;
    font-style: italic;
    margin-right: 5px;
}
.list-group-item{
    white-space: normal;
}

.image-icon{
    width:100px;
    height:100px;
}

.first_td
{
    width: 240px;
}

.tab_length
{
    /*width: 120px;*/
    /*text-align: center;*/
}

/*.btn-inactive
{
    color:#fff;
    background-color:#0F4C8F;
    border-color:#357ebd;
}

.btn-active
{

}*/